---
import data from '@/data'

import { Button } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
]
---

<PageLayout title='About' {headings} info='/about'>
  <p class="font-bold">{data.me.jobtitle}</p>
  <p class='text-justify'>
    {data.me.long_description}
  </p>
  <Button title='Contact Me' class='w-fit' href='/' style='ahead' />

  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <ul>
    {
      data.hobbies.map((hobby) => (
        <li class='mb-2'>
          <span class='font-semibold'>{hobby.name}:</span> {hobby.description}
        </li>
      ))
    }
  </ul>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>List of tools, technologies and programming languages I have worked with</p>
  {data.tools.map((tool) => <ToolSection class='mb-5' title={tool.category} tools={tool.items} />)}
</PageLayout>
