---
import { Image } from 'astro:assets'
import data from '@/data'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-50 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='France'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label title='Github' as='a' href='https://github.com/leoraclet' target='_blank'>
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
          <Label
            title='Email'
            as='a'
            href="javascript:location.href = 'mailto:' + ['leo.raclet','gmail.com'].join('@')"
          >
            <Icon name='email' class='size-5' slot='icon' />
          </Label>
          <Label title='Discord' as='a' href='https://discordapp.com/users/454935749767200768'>
            <Icon name='discord' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>

      {/* Get template */}
      <a
        href='https://www.linkedin.com/in/leoraclet/'
        target='_blank'
        class='flex flex-row items-center gap-x-3 rounded-full border bg-background px-4 py-2 text-sm shadow-sm transition-shadow hover:shadow-md'
      >
        <span class='relative flex items-center justify-center'>
          <span
            class='absolute size-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
          ></span>
          <span class='size-2 rounded-full bg-green-400'></span>
        </span>
        <p class='font-medium text-muted-foreground'>Get In Touch</p>
      </a>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='👤 About'>
        <p class='text-muted-foreground font-bold'>{data.me.jobtitle}</p>
        <p class='text-muted-foreground'>
          {data.me.description}
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' style='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='✒️ Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
          </Section>
        )
      }

      {
        (
          <Section title='💼 Experience'>
            {data.experiences.map((e) => (
              <Card
                as='a'
                heading={e.title}
                subheading={e.description}
                date={e.date}
                imageClass='h-12 w-auto md:-start-16'
              >
                <ul class='ms-4 list-disc text-muted-foreground'>
                  {e.achievements.map((d) => (
                    <li>{d}</li>
                  ))}
                </ul>
                <p class='text-muted-foreground'>
                  📅 <span class='italic'>{e.date}</span>
                </p>
              </Card>
            ))}
          </Section>
        )
      }
      <Section title='🎓 Education'>
        {
          data.education.map((e) => (
            <Card
              as='a'
              heading={e.title}
              subheading={e.institution}
              date={e.date}
              imageClass='h-12 w-auto md:-start-16'
            >
              <ul class='ms-4 list-disc text-muted-foreground'>
                {e.achievements.map((d) => (
                  <li>{d}</li>
                ))}
              </ul>
            </Card>
          ))
        }
      </Section>

      <Section title='🚀 Projects'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          {
            data.projectCategories[0].items.map((p) => (
              <ProjectCard
                href={p.links[0].href}
                heading={p.name}
                subheading={p.description}
                imagePath={'/src/assets/projects/' + p.image}
              />
            ))
          }
          <ProjectCard
            href='/projects'
            heading='More projects'
            subheading='Check out more projects'
            imagePath='/src/assets/projects/wen-qiao-g_w8I64FiO0-unsplash.jpg'
          />
        </div>
      </Section>

      <Section title='🛠️ Skills'>
        {data.skills.map((skill) => <SkillLayout title={skill.category} skills={skill.items} />)}
      </Section>

      <Section title='🏆 Events'>
        <div class='grid grid-cols-2 gap-3 sm:grid-cols-3'>
          {data.events.map((e) => (
            <Card class="bg-gray/5 border-purple-200 hover:border-purple-500 transition-all duration-500 hover:bg-gray/20 transform hover:scale-105"
              heading={e.title}
              date={e.date}
              as='a'
              href={e.link}
            >
              <ul class='ms-4 list-disc text-muted-foreground'>
                {e.achievements.map((d) => (
                  <li>{d}</li>
                ))}
              </ul>
              <p class='text-muted-foreground'>
                📅 <span class='italic'>{e.date}</span>
              </p>
            </Card>
          ))}
        </div>
      </Section>
    </div>
    <Quote class='mt-12' />
  </main>
</PageLayout>
