---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import ArrowCard from "@components/ArrowCard"
import StackCard from "@components/StackCard.astro"
import { SITE, SOCIALS } from "@consts"
import TwinklingStars from "@components/TwinklingStars.astro"
import MeteorShower from "@components/MeteorShower.astro"

const posts = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,3)

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,3)

const stack = [
  {
    text: "Astro",
    icon: "astro",
    href: "https://astro.build"
  },
  {
    text: "Typescript",
    icon: "typescript",
    href: "https://www.typescriptlang.org"
  },
  {
    text: "Tailwind",
    icon: "tailwind",
    href: "https://tailwindcss.com"
  },
  { text: "VSCode", icon: "vscode", href: "https://code.visualstudio.com/" },
  { text: "Arduino IDE", icon: "arduino", href: "https://www.arduino.cc/en/software" },
  { text: "PyCharm", icon: "pycharm", href: "https://www.jetbrains.com/pycharm/" },
  { text: "Altium Designer", icon: "altium", href: "https://www.altium.com/altium-designer/" },
  { text: "Python", icon: "python", href: "https://www.python.org" },
  { text: "C++", icon: "cpp", href: "" },
  { text: "JavaScript", icon: "javascript", href: "" },
  { text: "HTML", icon: "html", href: "" },
  { text: "CSS", icon: "css", href: "" },
  { text: "Bash", icon: "bash", href: "" },
  { text: "OpenGL", icon: "opengl", href: "" },
  { text: "Nixos 24.05", icon: "nixos", href: "https://nixos.org/" },
  { text: "Windows 11", icon: "windows11", href: "https://news.microsoft.com/windows11-general-availability/" },
  { text: "Arch Linux", icon: "archlinux", href: "https://www.archlinux.org/" },
  { text: "Raspberry Pi OS", icon: "raspberrypi", href: "https://www.raspberrypi.org/software/raspberry-pi-os/" },
  { text: "Docker", icon: "docker", href: "https://www.docker.com/" },
  { text: "PostgreSQL", icon: "postgresql", href: "https://www.postgresql.org/" },
  { text: "Grafana", icon: "grafana", href: "https://grafana.com/" },
  { text: "Git", icon: "git", href: "https://git-scm.com/" },
  { text: "Django", icon: "django", href: "https://www.djangoproject.com/" },
  { text: "Firefox", icon: "firefox", href: "https://www.mozilla.org/en-US/firefox" },
  { text: "ChatGPT", icon: "chatgpt", href: "https://chat.openai.com/" },
  { text: "Obsidian", icon: "obsidian", href: "https://obsidian.md/" }
]
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>

  <!-- Light Mode: Particles -->
  <div class='absolute inset-0 block dark:hidden'>
    <div id='particles1' class='fixed inset-0'></div>
    <div id='particles2' class='fixed inset-0'></div>
    <div id='particles3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class='absolute inset-0 bg-black hidden dark:block'>
    <div id='stars1' class='fixed inset-0'></div>
    <div id='stars2' class='fixed inset-0'></div>
    <div id='stars3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Metors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars/>
      <MeteorShower/>
    </div>
  </div>

  <div class="z-10 absolute link-outline animate-bounce bottom-16 md:bottom-14 lg:bottom-40 w-full flex items-center flex-col">
    <a href="#about" class="group">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="dark:fill-white group-hover:fill-red-400 justify-center">
          <path d="M11.975 22H12c3.859 0 7-3.14 7-7V9c0-3.841-3.127-6.974-6.981-7h-.06C8.119 2.022 5 5.157 5 9v6c0 3.86 3.129 7 6.975 7zM7 9a5.007 5.007 0 0 1 4.985-5C14.75 4.006 17 6.249 17 9v6c0 2.757-2.243 5-5 5h-.025C9.186 20 7 17.804 7 15V9z"></path>
          <path d="M11 6h2v6h-2z"></path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="dark:fill-white group-hover:fill-red-400">
          <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
        </svg>
    </a>
  </div>

  <script is:inline src="/js/bg.js"></script>

  <!-- HERO -->
  <section class="relative h-screen w-full">
    <div id="planetcont" class='animate absolute inset-0 top-1/4 overflow-hidden'>
      <div id="crescent" class='absolute top-0 left-1/2 -translate-x-1/2 w-[250vw] min-h-[100vh] aspect-square rounded-full p-[1px] bg-gradient-to-b from-black/25 dark:from-white/75 from-0% to-transparent to-5%'>
        <div id="planet" class='w-full h-full bg-white dark:bg-black rounded-full p-[1px] overflow-hidden flex justify-center'>
          <div id="blur" class='w-full h-20 rounded-full bg-neutral-900/25 dark:bg-white/25 blur-3xl'/>
        </div>
      </div>
    </div>
    <div class="animate absolute h-full w-full flex items-center justify-center">
      <div class='relative w-full h-full flex items-center justify-center'>
        <div class='p-5 text-center'>
          <p class='animated text-lg md:text-xl lg:text-2xl font-semibold opacity-75'>
            Hello, I am ...
          </p>
          <p class='animated text-2xl md:text-3xl lg:text-4xl font-bold uppercase text-black dark:text-white'>
            N£utr0nys
          </p>
          <p class='animated text-sm md:text-base lg:text-lg opacity-75'>
            Passionate Hacker and Developper
          </p>
          <div id="ctaButtons" class='animated flex flex-wrap gap-4 justify-center mt-5'>
            <a href='/blog' class='py-2 px-4 rounded truncate text-xs md:text-sm lg:text-base bg-black dark:bg-white text-white dark:text-black hover:opacity-75 blend'>
              Read my blog
            </a>
            <a href='/work' class='py-2 px-4 truncate rounded text-xs md:text-sm lg:text-base border border-black/25 dark:border-white/25 hover:bg-black/5 hover:dark:bg-white/15 blend'>
              View my work
            </a>
            <a href='/about' class='group not-prose flex items-center py-2 px-4 truncate rounded text-xs md:text-sm lg:text-base border border-black/25 dark:border-white/25 hover:bg-black/5 hover:dark:bg-white/15 blend'>
              About Me
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="ml-1 rotate-180 stroke-current group-hover:stroke-black group-hover:dark:stroke-white">
                <line x1="19" y1="12" x2="5" y2="12" class="scale-x-0 group-hover:scale-x-100 translate-x-3 group-hover:translate-x-0 transition-all duration-300 ease-in-out" />
                <polyline points="12 19 5 12 12 5" class="translate-x-1 group-hover:translate-x-0 transition-all duration-300 ease-in-out" />
              </svg>
            </a>
          </div>
          <div class="py-8 order-1 sm:order-2 flex justify-center">
            <div class="flex flex-wrap gap-1 items-center justify-center">
              {
                SOCIALS.map((SOCIAL) => (
                  <a
                    href={SOCIAL.HREF}
                    target="_blank"
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                    class="group size-12 rounded-full p-2 items-center justify-center hover:bg-black/5 dark:hover:bg-white/20  blend"
                  >
                    <svg class="size-full fill-current group-hover:fill-black group-hover:dark:fill-white blend">
                      <use href={`/social.svg#${SOCIAL.ICON}`} />
                    </svg>
                  </a>
                ))
              }
              </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <div id="about" class="relative bg-white dark:bg-black scroll-my-20">
    <div class="mx-auto max-w-screen-md p-5 space-y-10">

      <!-- About Section -->
      <section class="animate">
        <article class="text-lg text-justify">
          <p>Hi 👋 ! My name is <b>Leo</b>, and I'm a <b>French 🇫🇷</b> developer, cybersecurity enthusiast and lifelong learner, always pushing my limits to understand our World. I'm particularly interested in <b>computer science</b> and <b>cybersecurity</b> 🖥️ </p>
          <p>
          In my free time, I code personal projects (mostly <strong>C/C++</strong> and <strong>Python</strong>),
          but I'm always up for trying new tools and technologies. I'm also consistently training my hacking skills online.
          </p>
          <p>
            My <b>biggest</b> secret ? I love to ..... <b><i><a href="/about" class="text-md hover:text-red-500 transition duration-300"> more</a></i></b>
          </p>
        </article>
      </section>

      <!-- Blog Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent posts
            </p>
            <a href="/blog" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All posts
              </span>
            </a>
          </div>
          <ul class="space-y-2">
            {posts.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))}
          </ul>
        </div>
      </section>

      <!-- Project Preview Section -->
      <section class="animate">
        <div class="space-y-2">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent projects
            </p>
            <a href="/projects" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                All projects
              </span>
            </a>
          </div>
          <ul class="space-y-2">
            {projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))}
          </ul>
        </div>
      </section>

      <!-- Tech Stack Section -->
      <section class="animate">
        <div class="space-y-4">
          <p class="font-semibold text-lg text-black dark:text-white">
            Throughout the development of my projects, I have gained experience with a variety of technologies and tools, across different platforms.
          </p>
          <p>Here is a curated list of them :</p>
          <div class="flex flex-wrap items-center gap-2 mt-5">
            {stack.map(item => (
              <StackCard
                text={item.text}
                icon={item.icon}
                href={item.href}
              />
            ))}
          </div>
          <div>
            To know more about it, go checkout my
            <a href="https://github.com/leoraclet" target="_blank" class="w-fit group underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                Github
              </span>
            </a>
          </div>
        </div>
      </section>

      <!-- Contact Section -->
      <section class="animate">
        <div>
          <p class="font-semibold text-black dark:text-white">
            Let's Connect
          </p>
          <p>
            Reach out to me via email or on social media.
          </p>
          <div class="grid grid-cols-4 gap-y-2 mt-4 auto-cols-min">
            {SOCIALS.map(social => (
              <div class="col-span-1 flex items-center gap-1">
                <span class="whitespace-nowrap truncate">
                  {social.NAME}
                </span>
              </div>
              <div class="col-span-3 truncate">
                <a href={social.HREF} target="_blank" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend">
                  <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend">
                    {social.TEXT}
                  </span>
                </a>
              </div>
            ))}
        </div>
      </section>
    </div>
  </div>
</PageLayout>
