---
import { Image } from 'astro:assets'

import type { iconsType } from 'astro-pure/types'
import bitcoin from '@/assets/bitcoin_qr.png'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import data from '@/data'
import PageLayout from '@/layouts/CommonPage.astro'
import type { MarkdownHeading } from 'astro'
import { Button, Collapse, Icon } from 'astro-pure/user'


const headings: MarkdownHeading[] = [];
data.projectCategories.filter(item => item.items.length !== 0).forEach((category) => {
  headings.push({ depth: 2, slug: category.slug, text: category.name });
});
headings.push({ depth: 2, slug: 'sponsorship', text: '☕ Sponsorship' });
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects', hideComment: true }}>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/leoraclet'
      alt='github activities'
      inferSize
    />
  </p>
  <p>
    If you think it would be useful or interesting to collaborate on a project, you can donate to
    support my work or contact me to discuss a project.
  </p>
  <Button title='Support my Work !' class='w-fit' href='#sponsorship'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button>
  <Button title='Contact me' class='w-fit' href='/' style='ahead'>
    <Icon class='size-5' name='time' slot='before' />
  </Button>

   {data.projectCategories.filter(item => item.items.length !== 0 && item.slug !== "unfinished").map((category) => (
    <h3 id={category.slug}>{category.name}</h3>
    <p>{category.description}</p>
    <ProjectSection
      class='my-2'
      project={category.items}
    />
   ))}

   {data.projectCategories.filter(item => item.slug === "unfinished").map((category) => (
    <h3 id={category.slug}>{category.name}</h3>
    <Collapse title={category.description}>
      <ProjectSection
        class='my-2'
        project={category.items}
      />
    </Collapse>
   ))}

   <!-- sponsorship -->
  <h2 id='sponsorship'>Buy me a cup of coffee ☕</h2>
  <p>If you like what you see here and what I do, please consider becoming a "sponsor" of my work. Thanks !</p>
  <div class='flex flex-col justify-center gap-4 sm:flex-row'>
    {
      [
        { name: 'Bitcoin', icon: 'qrcode', image: bitcoin },
      ].map((item) => (
        <div class='group relative justify-center overflow-hidden rounded-xl border bg-white'>
          <div class='absolute bottom-0 end-0 start-0 top-0 flex items-center justify-center transition-opacity group-hover:opacity-0'>
            <Icon class='size-20' name={item.icon as iconsType} />
          </div>
          <Image
            class='mx-auto my-0 max-w-60 opacity-30 blur-sm transition-opacity group-hover:opacity-100 group-hover:blur-none'
            src={item.image}
            alt={item.name}
            loading='lazy'
          />
        </div>
      ))
    }
  </div>
</PageLayout>