---
import links from 'public/links.json'
import config from 'virtual:config'

import PageLayout from '@/layouts/CommonPage.astro'
import FriendList from '@/components/links/FriendList.astro'

const headings = [
  { depth: 2, slug: 'common-links', text: 'Common Links' },
  { depth: 2, slug: 'special-links', text: 'Special Links' },
  { depth: 2, slug: 'apply-links', text: 'Apply Links' }
]

const { friends } = links
const linksConf = config.integ.links
---

<PageLayout title='Links' {headings} info='/links'>
  <p class='italic'>
    Here you'll find links to friends profiles and organisations I have worked with / in.
    <br>
    You'll also find events I have attended.
  </p>
  <h2 id='common-links'>Common Links</h2>
  <FriendList list={friends[0]} />
  <h2 id='special-links'>Special Links</h2>
  <FriendList list={friends[2]} />

  <!-- apply-links -->
  <h2 id='apply-links'>Apply Links</h2>
  <blockquote class='not-prose grid grid-cols-[auto_1fr] gap-x-2 break-words border-s-4 ps-4'>
    {
      linksConf.applyTip.map(({ name, val }) => {
        const script = `navigator.clipboard.writeText('${val}');document.dispatchEvent(new CustomEvent('toast',{detail:{message:'Copied "${val}" to clipboard!'}}))`
        return (
          <>
            <span class='text-end'>{name}:</span>
            <samp class='cursor-pointer' onclick={script}>
              {val}
            </samp>
          </>
        )
      })
    }
  </blockquote>
</PageLayout>
